.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  background-color: white; 
  padding: 12px 24px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  z-index: 999;

  align-items: center; 
  box-sizing: border-box;  

}

