.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  background-color: white; 
  padding: 0px 40px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  z-index: 999;

  align-items: center; 
  box-sizing: border-box;  

}


.about {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    outline: none;
    cursor: pointer;
    font-size: 25px;   
}

.logo {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  outline: none;
  cursor: pointer;
  font-size: 25px;   
}
